body {
    background-image: url("../img/spaceburger.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}

div.transbox {
    margin: 2%;
    padding: 30px;
    background-color: rgba(123,189,225,0.6);
    height: 90vh;
}

div.transbox h2, h3, p {
    color: white;
}

div.transbox h1 {
    color: red;
}

#devoured, #notDevoured {
    text-align: left;
}

.devourbtn {
    float: right;
}

ul {
    list-style-type: none;
}